/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/


body{
 background-color: midnightblue
}


body{
    background: url(https://i.pinimg.com/originals/c8/27/f7/c827f79c6635dbba80f1da34692a3a00.jpg) no-repeat center center fixed;
    background-size: cover;
}


.modal-content{
    background-color: rgb(255, 255, 255);
    opacity: .95;
    box-shadow: 0px 0px 7px black;
}

.container {
    width: 80%;
    
}

.content{
    width: 95%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3, auto);
   
}
.content .main{
    grid-column: span 4;
}

.aside{
    background-color: #ffffff;
    grid-column: span 2;

    
}

.footer{
    background-color: #ffffff;
    opacity: 0.95;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    grid-column: span 6;
    
}